#settings {
    background-image: url("img/side_bar_arrow2v.png");
}
#settings,
#user,
#logout {
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    /* border: 0; */
    /* outline: none;*/
    border-radius: 0;
}

#settings:hover,
#user:hover,
#logout:hover {
    opacity: 0.3;
    box-shadow: none;
}

#message-text{
    color: #333;
    background-color: #DCF8C6;
    padding: 10px;
    border-radius: 10px;
    /* max-width: 50%; */
}
