#settings {
    background-image: url("img/settings-2.png");
}
#user {
    background-image: url("img/user.png");
}
#logout {
    background-image: url("img/logout.png");
}
#message-search-img {
    background-image: url("img/lupa.png");
}
#add_new_chat_when_no_chats{
    background-image: url("img/add.png");
}
#settings,
#user,
#logout,
#add_new_chat_when_no_chats,
#message-search-img{
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    /* border: 0; */
    outline: none;
    border-radius: 0;
}
#message-search-img{ 
    background-size: 20px;
}
/* #add_new_chat_when_no_chats{
    border: 1px solid black;
} */


#settings:hover,
#user:hover,
#logout:hover,
#add_new_chat_when_no_chats:hover,
#message-search-img:hover {
    opacity: 0.3;
    box-shadow: none;
}

#message-text{
    color: #333;
    background-color: #DCF8C6;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
    /* max-width: 50%; */
}

#user-tag{
    font-size: 18px;
}
#user-box{
    border: 1px solid black;
}
#user-box:hover{
    opacity: 0.3;
}

#chatter-name,
#chatter-surname {
    font-size: 25px;
}

#empty-chat{
    font-size: 50px;
    color: red;
}